<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{app.title}"> Title </title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
  #background { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
body{
color: #333333;
font-family: Century Gothic, Serif;

}
.navbar {
	font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #ff1a1a;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: white !important;
}
.navbar-nav li a:hover {
    color: black !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color:Black !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.carousel-inner img {
    width: 60%;
	height: 300px;
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
.bg-1 {
      background: black;
      color: white;
  }
  footer {
    background-color: Black;
    color: White;
    padding: 32px;
}
	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Car Rent</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

    </div>
  </div>
</nav>

<div class="form-group"  style="margin-left: 550px; margin-top: 100px; margin-bottom: 100px">
<h1 th:text="#{app.create-user}">Create</h1>
<form action="#" th:action="@{/app/adding-user}" th:object="${user}" method="post">
    <table>
        <tr><td th:text="#{user.experience}"/></td>
            <td>
                <input type="text" class="form-control" placeholder="Enter your number of years of driving experience" th:field="*{experience}" />
                <label th:if="${#fields.hasErrors('experience')}" th:text="#{error.user.experience}" th:class="'error'">Experience Error</label>
            </td>
        </tr>
        <tr><td colspan="2">
            <input type="submit" th:value="#{user.form.submit}"/>
            <input type="reset" th:value="#{user.form.reset}"/>
        </td>
        </tr>
    </table>
</form>
</div>
<footer class="text-center">
<br>
  <p>Website Made By China</p> 
</footer>
</body>
</html>