<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{app.title}"> Title </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
	<style>
  #background { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
body{
color: #333333;
font-family: Century Gothic, Serif;

}
.navbar {
	font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #ff1a1a;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}
.navbar li a, .navbar .navbar-brand { 
    color: white !important;
}
.navbar-nav li a:hover {
    color: black !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color:Black !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.carousel-inner img {
    width: 60%;
	height: 300px;
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
.bg-1 {
      background: black;
      color: white;
  }
  footer {
    background-color: Black;
    color: White;
    padding: 32px;
}
	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Car Rent</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a th:href="@{/logout}">Logout</a></li>
      </ul>
    <div class="collapse navbar-collapse" id="myNavbar">

    </div>
  </div>
</nav>

<div id="app" style="margin-top: 200px; margin-bottom: 200px">
    <h2>All Users</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Driving Experience</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
    <tr v-for="user in users">
        <td>{{ user.user_id }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.experience }}</td>
        <td><button v-on:click="deleteUser(user.user_id)">Delete</button></td>
    </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" >


            var app = new Vue({
                el: '#app',
                data: {
                    users: []
                },

                methods: {

                    deleteUser(id){
                        var proxyUrl = 'https://cors-anywhere.herokuapp.com/',
                            targetUrl = 'http://localhost:9000/api/user-delete/'
                        var popup = window.open(targetUrl + id, "Popup", "left=10000,top=10000,width=0,height=0");
                        popup.close();
                        location.reload();
                    }
                }

            });
            $.getJSON('http://localhost:9000/api/users-info', function (users) {
                        app.users = users;
                    });




</script>
<footer class="text-center">
<br>
  <p>Website Made By China</p> 
</footer>
</body>
</html>